@import url("universal.css");

.hBox .button{
-fx-border-radius: 45;
 -fx-background-radius: 45;
-fx-background-insets:15;
-fx-text-fill:black;
 -fx-opacity: 0.7;
 -fx-font-weight:bold;
 -fx-font-size:13px;
}
.hBox .button:hover{
-fx-opacity:1;
}
