@import url("universal.css");

/*.table-view{*/
/*-fx-font-size:13px;*/
/*-fx-font-weight:bold;*/
/*-fx-text-fill:black;*/
/*}*/

/*.table-column:focused .table-column:selected{*/
 /*-fx-text-fill:white;*/
  /*-fx-background-color:#A914FF;*/
/*}*/

/*.table-column {*/
/*-fx-text-fill:black;*/
/*}*/

/*.table-column:row-selection {*/
 /*-fx-text-fill:white;*/
 /*-fx-background-color:#A914FF;*/
/*}*/

/*.table-row:hover{*/
 /*-fx-background-color:#A914FF;*/
/*}*/

/*.table-row{*/
 /*-fx-text-fill: #1E2735;*/
/*}*/

/*.table-view{*/
 /*-fx-background-color: transparent;*/
/*}*/

/** file: reaper.css
    /*place in same directory as RowStyledTable.java *!*/
/*.root                             { -fx-font: 18px "Comic Sans MS";    }*/
/*.column-header-background         { -fx-background-color: azure;       }*/
/*.willPayRow                       { -fx-background-color: palegreen;   }*/
/*.wontPayRow                       { -fx-background-color: coral;       }*/
/*.willPayCell                      { -fx-background-color: forestgreen; }*/
/*.wontPayCell                      { -fx-background-color: firebrick;   }*/
/*.table-row-cell:empty             { -fx-background-color: cornsilk;    }*/
/*.table-row-cell:empty .table-cell { -fx-border-width:     0px;         }*/

/*!* Text in the rows will be white *!*/
/*.table-row-cell .text {*/
 /*-fx-fill: white ;*/
/*}*/


/*.table-view .column-header,*/
/*.table-view .column-header-background .filler {*/
 /*-fx-background-color:  #6622CC;*/
/*}*/
.table-view .column-header .label{
 -fx-text-fill: black;
 -fx-font-weight: bold;
 -fx-alignment: CENTER;
}
.table-view .cell{
 -fx-cell-size: 25;
 -fx-alignment: center;
 -fx-background-color: #29292D;
 /*-fx-border-color: #29292D;*/
 -fx-text-fill: lightgray;
 -fx-alignment: CENTER;

}
.table-row-cell:selected {
 -fx-background-color: whitesmoke;
 -fx-text-background-color:  #6622CC;


}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
 -fx-background-color: transparent;
 -fx-border-color:derive( #6622CC,80%);

 -fx-background-radius: 2em;
 -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
 -fx-background-color:derive( #6622CC,90%);
 -fx-background-insets: 2, 0, 0;
 -fx-background-radius: 2em;

}
