*{
-fx-primary:#1E2735;
/*
-fx-primary:#1E2735;
-fx-secondary:#B74248;
*/
-fx-secondary:#FFB60D;
-fx-primaryLabel:#FFB60D;
-fx-primaryButton:#FF8CF0;
-fx-font-family: "Times New Roman" ;
}

.scroll-pane{
-fx-background-color:white;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
-fx-background-color:transparent;
}

.increment-button, .decrement-button{
-fx-background-color:transparent;
-fx-border-color:transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
-fx-background-color:transparent;
-fx-border-color:transparent;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb{
-fx-background-color:#B2B2B2;
-fx-background-radius:5em;
}

.scroll-pane > .corner{
-fx-background-color:white;
}